<h1>Listing musics</h1>

<table>
  <thead>
    <tr>
      <th>Theme</th>
      <th>Title</th>
      <th>Artist</th>
      <th>Year</th>
      <th>Spotify url</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @musics.each do |music| %>
      <tr>
        <td><%= music.Theme %></td>
        <td><%= music.Title %></td>
        <td><%= music.Artist %></td>
        <td><%= music.Year %></td>
        <td><%= music.Spotify_url %></td>
        <td><%= link_to 'Show', music %></td>
        <td><%= link_to 'Edit', edit_music_path(music) %></td>
        <td><%= link_to 'Destroy', music, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Music', new_music_path %>
