<!DOCTYPE html>
<html>
<head>
  <title>Musicbox | <%= yield(:title) %></title>
  <%= stylesheet_link_tag "grid" %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
<script>
  function loadsearch()
  {
  var xmlhttp;
  if (window.XMLHttpRequest)
    {// code for IE7+, Firefox, Chrome, Opera, Safari
    xmlhttp=new XMLHttpRequest();
    }
  else
    {// code for IE6, IE5
    xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
    }
  xmlhttp.onreadystatechange=function()
    {
    if (xmlhttp.readyState==4 && xmlhttp.status==200)
      {
      document.getElementById('searchresult').style.display = "block";
      document.getElementById("searchresult").innerHTML=xmlhttp.responseText;
      }
    if (str == "")
    {
      document.getElementById('searchresult').style.display = "none";
    }
    }
    
  var str = document.getElementById("searchbox").value;
  xmlhttp.open("GET","../search.html?query="+str,true);
  xmlhttp.send();

  }
  </script>
</head>

<body class="container_12">
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=155786951179530";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	<div class="navbar grid_12">
		<div class="navitem"><a href="/">Home</a></div>
    
    
    
  <div class="pathbar">
	<%if @Music != nil %>
		<div class='pathitem'><a href="/musics/<%= @Music.id %>"><%= @Music.Theme %></a></div>
	<%end%>
	<%if @stats == true %>
		<div class="pathitem">></div>
		<div class='pathitem'>Stats</div>
	<%end%>
</div>
<div class="grid_12">
  <%= yield %>
</div> 
   <div class="container">
     <% flash.each do |key, value| %>
       <div class="alert alert-<%= key %>"><%= value %></div>
     <% end %>
   </div>
  
</div>
</body>
</html>
